// BUTTONS //
%primary-btn {
  background-color: $primary-blue;
  color: $primary-white;
  font-weight: 800;
  transition: all 350ms ease-in-out;
}

%secondary-btn {
  color: $primary-gray;
  background-color: transparent;
  border: 1px solid $primary-blue;
  font-weight: 800;
}

// ROUNDED SECTION //

%section-rounded-radius {
  margin-top: 2rem;
  border-top-left-radius: 15%;
  border-bottom-right-radius: 15%;
  background-color: $primary-white;
  padding: 3.5em;

  @include medium() {
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
  }

  @include small {
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
}
